.Rproj.user
.Rhistory
.RData
*.o
*.a
*.so
*.dll
*.png
*.gif
*.png
*.jpg
*.pdf
*.tiff
*.svg
*.webp
!inst/*.gif
!inst/*.png
!inst/*.svg
inst/etc
inst/share
inst/doc/*.html
src/Makevars
windows
!img/*
README.md
